{% extends 'index/Base.html' %}
    {% block title %}{{category.name}}{% endblock title %}
    {% load static %}
    {% block cssPage %}<link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/indexPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/categoryDetail.css' %}">
    {% endblock cssPage %}
    {% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ category.name }}</h1>
        <p>
            {{ category.description }}
        </p>
        <p id="category">
            <img class="img-thumbnail" src="{{category.image.url}}" alt="{{category.name}}">   
        </p>
        </div>
                    {% if page_posts.paginator.count > 0 %}
					{% include "post/allPost.html" %}
					{% else %}
					<h1>big F </h1>
					<p> Per quello che crea le category e non posta</p>
					<p hidden>ps +1</p>
					{% endif %}
        
    </div>
   
        
    {% endblock content %}
        
