<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="h-100">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Kevin Sinchi">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/bootstrap.min.css' %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block cssPage %}
        {% endblock cssPage %}
    </head>
    <body class="h-100"> 
        <div class=" h-100 text-center text-white" id="cover">
            <div class="cover-container w-100 h-100 mx-auto flex-column"
                 id="cover-container">
                <header class="p-1 bg-dark text-white mb-auto">
                    <div class="container">
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                            TODO: Add logo
                            <a href="/"
                               class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                                <svg class="bi me-2"
                                     width="40"
                                     height="32"
                                     role="img"
                                     aria-label="Bootstrap">
                                    <use xlink:href="#bootstrap"/>
                                </svg>
                            </a>
                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li>
                                    <a href={% url 'index' %} class="nav-link px-2 text-white">Home</a>
                                </li>
                                <li>
                                    <a href={% url 'category:index' %} class="nav-link px-2 text-white">Categories</a>
                                </li>
                                <li>
                                    <a href={% url 'post:index' %} class="nav-link px-2 text-white">Posts</a>
                                </li>
                            </ul>
                            <div class="d-flex align-items-center justify-content-center text-end">
                                {% if user.is_authenticated %}
                                <div class="px-2 text-white">
                                Benvenut*, {{ user.account.firstname }} {{ user.account.surname }}
                                </div>
                                
                                <a class="nav-link px-2 "
                                href={% url 'account:updateAccount' pk=user.account.id %}> <button type="button" class="btn btn-warning">Edit</button></a>
                                {% else %}
                                    <a href="{% url 'account:registrationUser' %}"
                                    class="nav-link px-2"> <button type="button" class="btn btn-warning">Sign-up</button></a>
                                    <a href="{% url 'account:login' %}" class="nav-link px-2 "><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                                {% endif %} 
                               
                              </div>
                        </div>
                    </div>
                </header>
                
                <main id="main">
                    {% block content %}
                    {% endblock content %}
                </main>
                
                <footer id="footer">
                    {% block footer %}
                    {% endblock footer %}
                    
                </footer>
            </div>
        </div>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
