{% extends 'index/Base.html' %}

{% block title %}Index{% endblock title %}
{% load static %}
{% block cssPage %}<link rel="stylesheet" href="{% static 'css/general.css' %}">
<link rel="stylesheet" href="{% static 'css/indexPage.css' %}">
{% endblock cssPage %}

{% block content %}
{% if recentPosts.count > 0 %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for post in recentPosts %}
    {% if forloop.counter == 1 %}
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
    {% else %}
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide {{forloop.counter}}"></button>
    {% endif %}

    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for post in recentPosts %}
    {% if forloop.counter == 1 %}
    <div class="carousel-item active">
      <img src="{{ post.image.url }}" class="img-thumbnail" alt="{{post.name}}">
      <a class="stretched-link" href="{% url 'post:post_detail' pk=post.pk %}"></a>
      <div class="container">
        <div class="carousel-caption">
          <h1>{{post.name}}</h1>
        </div>
      </div>
    </div>
    {%else%}
    <div class="carousel-item">
      <img src="{{ post.image.url }}" class="img-thumbnail" alt="{{post.name}}">
        <a class="stretched-link" href="{% url 'post:post_detail' pk=post.pk %}"></a>
      
      <div class="container">
        <div class="carousel-caption">
          <h1>{{post.name}}</h1>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Precedente</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Prossimo</span>
  </button>
</div>
{% endif %}
{% comment %} categories {% endcomment %}
<div class="container px-4 " id="custom-cards">
  <h2 class="pb-2 border-bottom">Categorie</h2>

  <div class="row row-cols-2 row-cols-lg-6 align-items-stretch g-4 py-2">

    {% for category in categories %}
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{category.image.url}}');">
        <div class="h-100 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 display-6 lh-1 fw-bold categories">
            <a class="stretched-link link-light" href={% url 'category:categoryDetail' pk=category.name %}>{{category.name}}</a></h2>
          
        </div>
      </div>
    </div>
    {% endfor %}
    

  </div>
</div>


{% comment %} Posts {% endcomment %}
<div class="container px-4">
{% if page_posts.paginator.count > 0 %}
					{% include "post/allPost.html" %}
					{% else %}
					<h1>No posts?</h1>
					<p>ricerca in corso ...</p>
					<p hidden>sto consultando i miei bro +1</p>
					{% endif %}
</div>
{% endblock content %}

{% block footer %}
{% include "index/footer.html" %}
{% endblock footer %}